body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
button {
  border: 0;
  margin: 0;
  background-color: white;
}
button:hover {
  cursor: pointer;
  color: black;
}
button, 
button:active, 
button:focus {
    outline: none;
}
div.mapsToggle {
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 0;
  margin-top: 20px;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.3);
  border-radius: 14px;
  padding: 5px;
  background-color: rgba(220,220,220,.95);
}
div.mapsToggle button {
  background-color: rgba(255,255,255,.0);
  font-family: sans-serif;
  font-size: 16px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0;
  border: 0;
  border-radius: 10px;
}
div.mapsToggle button.butttonMapSelect {
  background-color: rgba(255,255,255,1);
  color: black;
  cursor: auto;
  border-bottom: 1px solid rgba(0,0,0,.25);
}
div.mapsToggle button:hover {
  background-color: rgba(255,255,255,.7);
  border-bottom: 1px solid rgba(0,0,0,.15);
}
div.mapsToggle button:active {
  background-color: rgba(255,255,255,.9);
  border-bottom: 1px solid rgba(0,0,0,.2);
}
div.mapsToggle button.map1 {
  margin-right: 6px;
}
div.zoom {
  left: 0;
  position: absolute;
  z-index: 1000;
  margin-left: 25px;
  width: 45px;
  border-radius: 50px;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.3);
  background-color: #FFFFFF;
}
div.zoom button {
  color: rgba(0,0,0,.75);
  font-size: 32px;
  width: 45px;
  height: 48px;
}
div.zoom button:hover {
  background-color: #EBEBEB;
}
div.zoom button:active {
  background-color: #E0E0E0;
}
button.plus {
  border-radius: 50px 50px 0px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
button.minus {
  border-radius: 0px 0px 50px 50px;
  padding-top: 0px;
  padding-bottom: 9px;
}
div.container {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  overflow: hidden;
  margin-bottom: 20px;;
}
div.draggable {
  width: 6000px;
  height: 6000px;
  background-image: url(kalina-1-min.jpg);
  background-repeat: no-repeat;
  background-size: 10%;
}